dependencies/gsd-2.5.3/build
dependencies/gsd2vtu/__pycache__/
helper_modules/delete_solid_sphparticles/__pycache__/
helper_modules/read_input_from_txt/__pycache__/

# all result files
*.gsd
*.vtu
*.raw
*.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
