aiohappyeyeballs
aiohttp
aiosignal
alabaster
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
babel
beautifulsoup4
bleach
Bottleneck
Brotli
cached-property
certifi
cffi
charset-normalizer
colorama
comm
conda-pack
contourpy
cycler
Cython
debugpy
decorator
defusedxml
docutils
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
frozenlist
furo
h11
h2
hpack
httpcore
httpx
hyperframe
idna
imagesize
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
lark
loguru
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl_fft
mkl_random
mkl-service
mpi4py
msgpack
multidict
nbclient
nbconvert
nbformat
nbsphinx
nest_asyncio
notebook
notebook_shim
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
pip
platformdirs
ply
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pybind11
pybind11-global
pycparser
pyevtk
Pygments
pyparsing
PyQt5
PyQt5_sip
PyQt6_sip
PyQtWebEngine
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
rfc3339_validator
rfc3986-validator
rfc3987-syntax
roman-numerals-py
rpds-py
scipy
Send2Trash
setuptools
sip
six
sniffio
snowballstemmer
soupsieve
Sphinx
sphinx_basic_ng
sphinx-copybutton
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack_data
terminado
tinycss2
toml
tomli
tornado
traitlets
typing_extensions
typing_utils
tzdata
uri-template
urllib3
vtk
wcwidth
webcolors
webencodings
websocket-client
wslink
yarl
zipp
zstandard
